.header {
  grid-area: 'header';
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: white;
  border-radius: 5px;
  padding-right: 15px;
}

.operation {
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column-reverse;
    overflow-x: hidden;
}

.display {
    height: 80%;
    display: flex;
    align-items: flex-end;
    justify-content: right;
    flex-direction: column-reverse;
}

.display span {
  font-size: 4em;
}