#timerBox {
  width: 50em;
  height: 300px;
  border-radius: 20px;
  border: solid 1px #cfcfcf;
  margin: 0 auto 0 auto;
  display: flex;
  flex-direction: column;
}

#timerBox header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: solid 1px #cfcfcf;
  height: 15%;
  color: #7510F6;
  font-size: 2em;
}

#timerBox main {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: flex-end;
  font-size: 8em;
  height: 70%;
}

#timerBox footer {
  display: flex;
  justify-content: left;
  flex-direction: row;
  align-items: flex-end;
  border-top: solid 1px #cfcfcf;
  height: 15%;
}

button {
  font-size: 1.25em;
  display: inline-block;
  width: 5em;
  height: 1.5em;
  border: solid 1px #cfcfcf;
  border-radius: 5px;
  margin: .25em .5em .25em .5em;
  box-shadow: none;
}